.hidden{
	display: none;
}
.hide{
	visibility: hidden
}
#full{
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: left;
	z-index: 1;
}
#koz{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 0;
}
#foglalas{
	padding: 0;
	margin:0;
	position: fixed;
	width: 90vw;
	height: 100vh;
	background-color: white;
	z-index: 3;
}
#bob{
	display: flex;
	justify-content: right;
}
#iksz{
	position: absolute;
	display: flex;
	margin: 0px 10px 0px 10px;
	font-size: 35px;
}
#oldalso{
	position: fixed;
	width: 11%;
	height: 23.5vw;
	z-index: 2;
}
#lenyulo{
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	display: flex;
	width: 30%;
	height: 13%;
	cursor: pointer;
	color: white;
	font-size: 3vw;
}	
#ikon{
	transition: transform 0.8s;
	padding-bottom: 10%;
}
#fo_menu{
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
.menu{
	font-family: Berlin Sans FB, Helvetica, sans-serif;
	position: relative;
	display: flex;
	z-index: 2;
	height: calc(100%/6);
	width: 100%;
	cursor: pointer;
	background: linear-gradient(90deg, rgba(255,125,179,1) 20%, rgba(0,161,223,1) 50%, rgba(123,191,13,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
	font-size: 2vw;
	align-items: center;
}
.menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: ghostwhite;
  transition: width 0.3s ease;
}
.menu:hover::after {
  width: 100%;
}
.foscroll{
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth; 
}
.scroll_pont{
	height: 100vh;
	width: 100%;
	scroll-snap-align: start;
}
.hover_item:hover{
	background-color: rgba(0,0,0,0.6);
}

body{	
	
}
html, body {
	user-select: none;
	overflow-x:hidden;
	scroll-behavior: smooth;
	padding: 0;
	height: 100%;
	margin: 0;
}
#fo_kep{
  object-fit: cover;
	opacity: 95%;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100vw;
	height: 100vh;
}
#fooldal{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
	width: 100%;
	height: 100vh;
	filter: contrast(1.1);
	opacity: 95%;
	background-repeat: no-repeat;
	background-size: 100%;
}
#bemutat{
	color:white;
	font-size: 3vw;
	position:absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
#menu_sor{
	top: 0;
	position: absolute;
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}
#menu_sor #bc{
	position: absolute;
	width: 100%;
	height: 100px;
	opacity: 40%;
	background-color: black;
}
#bc{

}
#first_half{
	cursor: pointer;
	z-index: 2;
	margin-left: 10%;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 40%;
	height: 100px;
}
#logo{
	flex-shrink: 0;
	margin:10px 30px 10px 30px;
	width: 90px;
	height: 90px;
	background-color: blue;
}
#felirat{
	background: linear-gradient(90deg, rgba(255,125,179,1) 20%, rgba(0,161,223,1) 50%, rgba(123,191,13,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
	font-family: Berlin Sans FB, Helvetica, sans-serif;
	margin:10px 30px 10px 30px;
	justify-content: center;
	align-items: center;
	font-size: 55px;
}
#second_half{
	width: 50%;
	height: 100px;
	justify-content: right;
	align-items: center;
	z-index: 2;
	display: flex;
}
.foglal{
	background-color: rgba(0,0,0,0.4);
}

#bejin{
	width: 80px;
	height: 160;
	margin: 0px 25px 0px 5px;
	justify-content: center;
}
#profile{
	border-radius: 60%;
	border:2px white solid;
}
#bejelentkezes{
	margin: 0px;
	cursor: pointer;
	color: white;
	border-radius: 30%;
	width: 80px;
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 20px;
	z-index: 2;
}
#beiras{
	border:2px solid grey;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: white;
	z-index: 1;
	right: 20px;
	margin-top: 8px;
	width: 310px;
	height: 200px;
}
#beji_felirat{
	padding: 5px 0px 0px 5px;
}
#beji{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
#vonal{
	background-color: grey;
	width: 99%;
	height: 1px;
}
#bej{
	margin: 0;
	width: 100%;
}
#bej_gomb{
	width: 100%;
	display: flex;
	justify-content: right;
}
#bej_gomb_{
	margin-right: 10px;
}
.space_2{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 15px;
}
.space{
	margin: 5px 0px 5px 0px;
}
.menu_pont_hatter{
	flex-shrink: 0;
	width: 80px;
	height:80px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 30%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	display: flex;
	background-color: rgba(0,0,0,0.4);
}
.menu_pont{
	display: flex;
	width: 50px;
	height:50px;
	align-items: center;
	justify-content: center;
	border-radius: 60%;
	border:2px white solid;
	background: green;
	
}
#curren{
	display: inline-flex;
	justify-content: center;
}
#currency{
	color:white;
	font-size:20px;
	font-family: Berlin Sans FB, Helvetica, sans-serif;
}
#currency_menu{
	font-size: 20px;
	position: absolute;
	width: 80px;
	background-color: white;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flag{
	border-radius: 60%;
	max-width: 50px;
	max-height: 50px;
}
#language{
	
}
#support{
	font-family: "Gill Sans", sans-serif;
	color:white;
	font-size:40px;
}

.background {
	height: 100vh;
	animation-duration: .3s;
	animation-name: background-stretch;
	width: 50% !important;
}
.foreground  {
	width: 70vw !important;
	height: 85vh !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	animation-name: foreground-jump;
	animation-duration: .3s;
}
.accent-bg-show {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;

	animation-name: accent-bg-fade-in;
	animation-duration: .3s;
	opacity: 50%;
}

@keyframes accent-bg-fade-in {
	from {opacity: 0;	}
	to: {opacity: 50%;}
}

@keyframes foreground-jump {
	from {
		width: calc(100vw / 3);
		height: 100vh;
		position: block;
	}
	to {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}

@keyframes background-stretch {
	from {width: calc(100vw / 3);}
	to {width: 50%}
}


#apartmanok{
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;}

#apartman_tinodi{
	background-color: rgba(77,98,180,1.0);
}


#apartman_garazs{
	background-color: rgba(232,89,217,1.0);
}


#apartman_garazs_szoba{
	background-color: rgba(68,197,68,1);
}
.apartman_div{
	justify-content: left;
	width: 100%;
	height: 100%;
}
.apartman_div_tav{
	height: 100%;
	width: 50%;
	flex-direction: column;
	display: flex;
	justify-content: left;
	align-items: center;
}
.apartman_div_box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.mozgo_kep{
	background-color: white;
	width: 300px;
	height: 300px;
}
.naptar{
	background-color: white;
	width: 300px;
	height: 300px;
}

.accent-bg{
	background-color: white;
}
.apartman{
	flex-wrap: wrap;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: calc(100%/3);
	height: 100%;
}
.felirat{
	background-color: rgba(0,0,0,0.15);
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 60px;
	border: 2px rgba(0,0,0,0.3) solid;
}
#informacio{
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
}
#belso_eler{
	width: 100%;
	height: 92%;
	margin:2% 2% 2% 2%;
	background-color: rgba(0,0,0,0.8);
}


#galeria{
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: red;
}
