.hidden{
	display: none;
}
#full{

	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: left;
	z-index: 1;
}
#fo_menu{
	position: fixed;
	width: 10%;
	height: 25vw;
	z-index: 2;
}
.menu{
	position: relative;
	display: flex;
	z-index: 2;
	height: calc(100%/6);
	width: 100%;
	cursor: pointer;
	background: linear-gradient(90deg, rgba(255,125,179,1) 20%, rgba(0,161,223,1) 50%, rgba(123,191,13,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
	font-size: 2vw;
	align-items: center;
}
.menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: darkgrey;
  transition: width 0.3s ease;
}
.menu:hover::after {
  width: 100%;
}
.foscroll{
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth; 
}
.scroll_pont{
	height: 100vh;
	width: 100%;
	scroll-snap-align: start;
}
.hover_item:hover{
	background-color: rgba(0,0,0,0.6);
}
#bemutat{
	position: absolute;
	color: white;
	font-size: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 100%;
	z-index: 1;
	width: 100%;
	position: absolute;
}
body{	
	
}
html, body {
	overflow-x:hidden;
	scroll-behavior: smooth;
	padding: 0;
	height: 100%;
	margin: 0;
}
#fo_kep{
    object-fit: cover;
	background-size: 100%;
	filter: contrast(1.0);
	opacity: 95%;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100vw;
	height: 100vh;
}
#fooldal{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
	width: 100%;
	height: 100vh;
	filter: contrast(1.1);
	background-image: url("chillout_tinodi_outside.jpg");
	opacity: 95%;
	background-repeat: no-repeat;
	background-size: 100%;
}

#menu_sor{
	top: 0;
	position: absolute;
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}
#menu_sor #bc{
	position: absolute;
	width: 100%;
	height: 100px;
	opacity: 40%;
	background-color: black;
}
#bc{

}
#first_half{
	cursor: pointer;
	z-index: 2;
	margin-left: 10%;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 40%;
	height: 100px;
}
#logo{
	flex-shrink: 0;
	margin:10px 30px 10px 30px;
	width: 90px;
	height: 90px;
	background-color: blue;
}
#felirat{
	background: linear-gradient(90deg, rgba(255,125,179,1) 20%, rgba(0,161,223,1) 50%, rgba(123,191,13,1) 80%);
    -webkit-background-clip: text;
    color: transparent;
	font-family: Berlin Sans FB, Helvetica, sans-serif;
	margin:10px 30px 10px 30px;
	justify-content: center;
	align-items: center;
	font-size: 55px;
}
#second_half{
	width: 50%;
	height: 100px;
	justify-content: right;
	align-items: center;
	z-index: 2;
	display: flex;
	
}
.menu_pont_hatter{
	flex-shrink: 0;
	width: 80px;
	height:80px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 30%;
	justify-content: center;
	align-items: center;
	z-index: 2;
	display: flex;
	background-color: rgba(0,0,0,0.4);
}
.menu_pont{
	display: flex;
	width: 50px;
	height:50px;
	align-items: center;
	justify-content: center;
	border-radius: 60%;
	border:2px white solid;
	background: green;
	
}
#currency{
	color:white;
	font-size:20px;
	font-family: Berlin Sans FB, Helvetica, sans-serif;
	
}
.flag{
	border-radius: 60%;
	max-width: 50px;
	max-height: 50px;
}
#language{
	
}
#support{
	font-family: "Gill Sans", sans-serif;
	color:white;
	font-size:40px;
}
#book{

}
#apartmanok{
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;}
#apartman_tinodi{
	background-color: rgba(77,98,180,1.0);
}
#apartman_garazs{
	background-color: rgba(232,89,217,1.0);
}
#apartman_garazs_szoba{
	background-color: rgba(68,197,68,1.0);
}
.apartman{
	display: flex;
	justify-content: center;
	width: calc(100%/3);
	height: 100%;
}
.felirat{
	background-color: rgba(0,0,0,0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 60px;
	border: 2px rgba(0,0,0,0.3) solid;
	border-radius: 80%;
}
#informacio{

	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
}
#belso_eler{
	width: 100%;
	height: 92%;
	margin:2% 2% 2% 2%;
	background-color: rgba(0,0,0,0.8);
}


#galeria{
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: red;
}
