@media only screen and (max-width: 1000px){
	.mozgo_kep, .naptar, .terkep{
		width: 65%;
		aspect-ratio: 1/1;
	}
	#fooldal,#apartmanok,#informacio,#galeria,#ertekeles{
		scroll-snap-type: none;
	}
	#felirat{
		margin: 10px 30px 10px 0px;
		font-size: 40px;
	}
	button{
		display: none;
	}
	.apartman_div{
		border-radius: 0;
	}
	.apartman_div_box:has(.megnyomott){
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		width: 100% !important;
		height: 100% !important;
	}
	.apartman_div_box:not(.megnyomott){
		justify-content: space-evenly;
		width: 100%;
		height: calc(100% / 3);
	}
	
	.apartman_div_tav{
		width: 100%;
	}
	.apartman_div_leir{
		display: none;
	}
	.apartman{
		border-radius: 0;
	}
	.galeria_mobile_container{
		display: block;
	}
	.galeria_container{
		display: none;
	}
	#oldalso, #logo, .menu_pont_hatter{
		display: none;
	}
	#settings{
		display: flex !important;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		color: lightgrey;
		margin: 0 20px 0 20px;
	}

	#kerek{
		height: 100%;
		width: 100%;
	}
	#kerek img{
		width: 100%;
	}
	#kerek:hover{
		animation: rotation 4s infinite linear;
	}

	#apartmanok{
		display:block;

	}
	.apartman{
		width: 100%;
		height: calc(100%/3) !important;
	}
	.foreground{
		position: fixed;
		z-index: 100;
		width: 100vw !important;
		height: 100vh !important;
	}
	.background{
		display: none;
	}
	.accent-bg-show{
		z-index: 7;
		position: fixed;
		left: calc(100% - 105px);
		width: 90px;
		height: 90px;
	}
	.accent-bg-show:after{
		display: flex;
		z-index: 7;
		position: absolute;
		top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
		justify-content: center;
		align-items: flex-end;
		font-family: sans-serif;
		content: "\0078"; 
    	font-size: 90px;
	}
	.terkep iframe{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	#belso_eler{
		height: 96%;
	}
	#informaciok{
		display: block;
	}
	#teszt_1, #teszt_2{
		width: 100%;
		height: 50%;
	}
	#leiras{
		width: 95%;
		height: 85%;
	}
	#info_felirat{
		height: 10%;
	}
	#info_felirat h1{
		font-size: 30px !important;
	}
	#galeria_felirat h1{
		font-size: 30px;
		color: white;
	}
	#galeria_felirat{
		margin-top: 10px;
		position: absolute;
		top: 0;
	}
	#ertekeles_nyilak{
		font-size: 150px;
		justify-content: space-evenly;
	}
	#ertekeles_nyilak span{
		cursor: pointer;
	}
	.ertekeles_elem{
		flex-shrink: 0;
		margin: 0px 160px 0px 160px;
		aspect-ratio: 1/2;
		width: 200px;
		background-color: lightblue;
	}
	#ertekeles_2{
		height: auto;
		aspect-ratio:1/3 !important;
		width: 70% !important;
	}
}
