:root {
	--container-width: calc(100vw / 3);
	--container-height: 100vh;

	--foreground-width: 800px;
	--foreground-height: 550px;

	--purple: #6b3d8d;
	--green: #007326;
	--blue: #003473;

	--animation-durr: .3s;
}

body {
	margin: 0;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container {
	width: var(--container-width);
	height: var(--container-height);
}

.accent-bg {
	background-color: white;
}

.background {
	height: var(--container-height);

	animation-name: background-stretch;
	animation-duration: var(--animation-durr);
	width: 50%;
}

.foreground  {
	width: var(--foreground-width);
	height: var(--foreground-height);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	animation-name: foreground-jump;
	animation-duration: var(--animation-durr);
}


.accent-bg-show {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;

	animation-name: accent-bg-fade-in;
	animation-duration: var(--animation-durr);
	opacity: 50%;
}

#con1 {
	background-color: var(--purple);
}
#con2 {
	background-color: var(--green);
}
#con3 {
	background-color: var(--blue);
}


@keyframes accent-bg-fade-in {
	from {opacity: 0;	}
	to: {opacity: 50%;}
}

@keyframes foreground-jump {
	from {
		width: var(--container-width);
		height: var(--container-height);
		position: block;
	}
	to {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}

@keyframes background-stretch {
	from {width: var(--container-width)}
	to {width: 50%}
}