:root {
	--naptar-width: 100vw;
	--naptar-height: 100vh;
	--naptar-nap-size: calc(var(--naptar-height) / 9);
}

body {
	margin: 0;
	display: grid;
	font-family: sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-size: 14pt;
	font-style: normal;
}

button {
	height: 25px;
	width: 25px;
	margin: 0 25px;
}

.naptar-container, .naptar-napok-container, .naptar-row, .naptar-header, .naptar-nap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.naptar-container {
	width: var(--naptar-width);
	height: var(--naptar-height);
	flex-direction: column;
}

.naptar-napok-container {
	width: calc(var(--naptar-width) - 13px);
	height: calc(var(--naptar-height) - var(--naptar-nap-size) - 15px);
	justify-self: center;
	flex-direction: column;
}

.naptar-row {
	flex-direction: row;
	width: calc(var(--naptar-width) - 11px);
}

.naptar-header {
	height: var(--naptar-nap-size);
	width: calc(var(--naptar-width) - 11px);
	flex-direction: row;
	justify-content: space-between;
}

.naptar-szamozott-nap {
	background-color: #F2F2F2;
}

.naptar-nap {
	width: calc(var(--naptar-nap-size) - 3px);
	height: calc(var(--naptar-nap-size) - 3px);
	margin: 1px 1px;
	position: relative;
	z-index: 0;
	text-align: center;
}
